.intro
  height: 600px
  background-color: $primary-dark-violet
  padding: 0 12% 0 12%
  position: relative

  .intro-image-right
    position: absolute
    z-index: 500
    top: -80px
    right: 0
    width: 435px

  .intro-image-right-mobile
    display: none

  .intro-image-left
    position: absolute
    z-index: 500
    top: 414px
    left: 0
    width: 194px
    height: 500px

  .intro-image-left-mobile
    display: none

  .intro-content
    width: 540px
    height: 100%
    padding-top: 105px

    .stylish-line
      background-color: white

    h1
      width: 100%
      margin-top: 63px
      height: 140px
    
    p
      margin-top: 16px

    button
      margin-top: 24px
  
  .intro-hero-image
    position: absolute
    top: 105px
    right: 12%
    width: 500px
    z-index: 700
    transition: width 0.3s ease-in-out


@media screen and ( max-width: 1440px )
  .intro
    .intro-hero-image
      width: 27%  

@media screen and ( max-width: 1200px )
  .intro
    .intro-content
      width: 50%
  
    .intro-hero-image
      width: 30%
  

@media screen and ( max-width: 900px )
  .intro
    padding: 0
    height: auto

    .intro-content
      display: flex
      flex-direction: column
      align-items: center
      width: 100%
      height: 500px
      padding-top: 93px

      .stylish-line
        display: none

      h1
        text-align: center
        margin-top: 0
      
      p
        text-align: center
        width: 87%

      button
        margin-top: 32px

    .intro-image-right-mobile
      display: block
      position: absolute
      z-index: 500
      height: 352px
      width: 123px
      bottom: -198px
      right: 0


    .intro-image-left-mobile
      display: block
      z-index: 500
      position: absolute
      bottom: 327px
      left: 0px
    
    .intro-image-left
      display: none
    
    .intro-image-right
      display: none

    .intro-hero-image
      position: relative
      top: 0
      right: 0
      width: 100%
      background-size: cover
      